* { margin: 0; padding: 0; box-sizing: border-box; }
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #343434;
            color: #dcddde;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            flex-direction: column;
            text-align: center;
            position: relative;
            padding: 20px;
        }

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }
        .container {
            border: 2px solid #20263a;
            background-color: #303853;
            border-radius: 12px;
            margin-top: 15px;
            margin-bottom: 5px;
            padding: 10px;
            width: 280px;
            height: auto;
            box-shadow: 0 4px 20px rgba(0,0,0,0.4);
            position: relative;
        }
        
        h1 {
            font-size: 17px;
            color: #ffffff;
            margin-bottom: -8px;
        }

        input {
            width: 100%;
            padding: 10px;
            font-size: 11px;
            border-radius: 8px;
            margin-bottom: 10px;
            border: none;
            outline: none;
            background-color: #a5a5a5;
            border: 2px solid #919191;
            color: #fff;
            transition: transform 0.3s, background-color 0.3s;
            font-family: 'Poppins', sans-serif;
        }

        button {
            font-weight: bold;
            width: 48px;
            height: 35px;
            border-radius: 8px;
            margin-bottom: 10px;
            color: #fff;
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            border: 2px solid #d6984c;
            background-color: #e3a252;
            transition: transform 0.3s;
        }

        button:active {
            transform: scale(0.98);
        }

        ::placeholder {
            font-style: italic;
            color: #747474;
            opacity: 1;
        }

        .toggle-btn {
            width: 230px;
            font-size: 14px;
            margin-top: 10px;
            height: 37px;
        }

        input:focus {
            background-color: #aeaeae;
        }

        .result {
            border: 2px solid #333333;
            background-color: #525252;
            padding: 8px;
            border-radius: 11px;
            margin-bottom: 2px;
            font-size: 12px;
            font-weight: bold;
        }

        .error {
            color: #ce5548;
            font-size: 9px;
            text-align: center;
        }

        .buttons {
            display: flex;
            gap: 8px;
            justify-content: space-between;
        }

        .credits {
            font-size: 13px;
            color: #bdc3c7;
            text-align: center;
            font-weight: bold;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            z-index: 10;
            line-height: 1.55;
        }

        @media (max-width: 768px) {
            body {
                padding-bottom: 60px;
            }
            
            .credits {
                position: relative;
                bottom: auto;
                left: auto;
                right: auto;
                font-size: 11px;
                padding: 15px 10px;
            }
        }
        
        @media (max-width: 480px) {
            .credits {
                font-size: 10px;
                padding: 12px 8px;
            }
        }

        @media (max-width: 1024px) {
            .wrapper {
                justify-content: center;
                justify-content: flex-start;
                padding-top: 10px;
                gap: 20px;
            }
            .container {
                max-width: 85%;
                padding: 15px;
                margin: 0 auto;
                top: -10px;
                position: relative;
            }
            h1 {
                font-size: 16px;
            }
        }

        @media (max-width: 768px) {
            .wrapper {
                justify-content: center;
                justify-content: flex-start;
                padding-top: 5px;
                gap: 20px;
            }
            .container {
                width: 90%;
                padding: 12px;
                margin: 0 auto;
                top: -10px;
                position: relative;
            }
            h1 {
                font-size: 14px;
            }
            input, button {
                font-size: 14px;
                padding: 10px;
            }
            .result {
                font-size: 14px;
            }
        }

        @media (max-width: 480px) {
            .wrapper {
                justify-content: center;
                justify-content: flex-start;
                padding-top: 5px;
                gap: 20px;
            }
            .container {
                width: 90%;
                padding: 10px;
                margin: 0 auto;
                top: -30px;
                position: relative;
            }
            h1 {
                font-size: 14px;
            }
            input, button {
                font-size: 12px;
                padding: 8px;
            }
            .toggle-btn {
                font-size: 12px;
            }

            .help-btn {
                width: 35px;
                height: 35px;
                font-size: 18px;
                bottom: 15px;
                right: 15px;
            }
        }

        @media (max-width: 768px) {
            .help-panel {
                width: 90%;
                max-width: 400px;
                padding: 15px;
                top: 50%;
                transform: translateY(-50%);
                height: auto;
                max-height: 500px;
                overflow-y: auto;
            }

            .help-panel h2 {
                font-size: 14px;
                margin-bottom: 10px;
            }

            .help-panel p {
                font-size: 10px;
            }

            .help-btn {
                width: 35px;
                height: 35px;
                font-size: 18px;
                bottom: 15px;
                right: 15px;
            }
        }

        .help-panel {
            display: none;
            background-color: #343434;
            padding: 20px;
            border-radius: 10px;
            border: 2px solid #242424;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            max-width: 390px;
            z-index: 1000;
        }

        .help-panel h2 {
            font-size: 19px;
            font-weight: bold;
            text-transform: uppercase;
            color: #fff;
        }

        .help-panel p {
            font-size: 12px;
            font-weight: bold;
            color: #ecf0f1;
            line-height: 1.55;
            margin-bottom: 9px;
        }

        .help-btn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #e3a252;
            color: white;
            border: 2px solid #c7812c;
            font-size: 17px;
            font-weight: bold;
            cursor: pointer;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 2px 5px rgba(0,0,0,0.2);
            transition: all 0.3s;
        }

        .help-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            position: relative;
            padding-right: 30px;
        }

        .close-help {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            color: white;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 14px;
            padding: 0;
            transition: all 0.2s ease;
        }

        .close-help:hover {
            color: #ff0000;
            background: none;
        }

        .help-content {
            padding: 10px 0;
        }

        #calculationSteps {
            font-family: 'Poppins', sans-serif;
            white-space: pre-wrap;
            text-align: left;
            font-size: 13px;
            line-height: 1.8;
            letter-spacing: 0.3px;
            margin-top: 10px;
        }

        #stepsTitle {
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 10px;
            margin-top: -5px;
            font-weight: bold;
        }

        .steps-container .result {
            padding: 15px;
            position: relative;
            max-height: 260px;
            overflow-y: auto;
        }

        .steps-content {
            font-family: 'Poppins', sans-serif;
            white-space: pre-wrap;
            text-align: left;
            font-size: 12px;
            line-height: 1.8;
            letter-spacing: 0.3px;
            padding-right: 10px;
        }

        .steps-container .result::-webkit-scrollbar {
            width: 4px;
        }

        .steps-container .result::-webkit-scrollbar-track {
            background: none;
        }
